/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* Verde ecológico */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h2, h3 {
    color: #333;
}

p {
    font-size: 1.1em;
    color: #555;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Estilos específicos */
.logo {
    max-width: 150px;
    height: auto;
}

.cta-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    display: inline-block;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #388E3C;
}

.product-list {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.product-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.offer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-item {
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    width: 80%;
    text-align: center;
}

.contact-info, .wholesale-info {
    text-align: center;
    margin: 20px;
}

.contact-info p, .wholesale-info p {
    font-size: 1.2em;
}
